@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 67, 47, 37;
  --background-start-rgb: 247, 243, 239;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}